@charset "UTF-8";

body {
	font-family: system-ui;
	margin: 2rem;
}

.error {
	color: #c00;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

input[type=text] {
	padding: .4rem;
	width: 60%;
}

button {
	display: inline-block;
	padding: .6rem 1rem;
	margin-right: 6px;
	background: #06c;
	color: #fff;
	text-decoration: none;
	border-radius: .4rem;
	border-color: #fff;
	cursor: pointer;
}

li>button {
	margin: 4px 1px;
	padding: .1rem 1rem;
	background: #c60;
	border-radius: .8rem;
}

.complete {
	text-decoration: line-through;
	background-color: lightgray;
	color: gray;
}
